@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

@media (min-width: 985px) {
    :root {
        font-size: 25px;
    }
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    height: -moz-fill-available;
    height: -webkit-fill-available;
    height: fill-available;
}

body {
    min-height: 100%;
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Signin Page */

#signin-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: linear-gradient(to top right, hsl(47deg 100% 75%) 33%, hsl(358deg 100% 75%) 33%, hsl(358deg 100% 75%) 67%, hsl(193deg 100% 75%) 67%);
    color: black;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.signed-in #signin-page {
    transition: opacity 250ms ease;
    user-select: none;
    pointer-events: none;
    opacity: 0;
}

.not-signed-in #signin-page {
    transition: opacity 250ms ease;
    opacity: 1;
}

.signin__header {
    height: 40%;
    display: flex;
    flex-direction: column;
    line-height: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* 360p - 3em */
    /* 720p - 6em */
    /* = 3em * 100vw / 360 */
    font-size: calc(60 * 100vw / 360);
    text-transform: uppercase;
    font-weight: 900;
}

.signin__header-bpgc {
    font-size: 1.2em;
}

@media (min-width: 985px) {
    .signin__header {
        height: 55%;
        /* 720p - 4.8em */
        /* 1080p - 6.4em */
        /* 4.8em + (100vw - 720px) * (1.6em) / (360) */
        /* = 1.6em + (100vw * 1.6em / 360) */
        font-size: calc(2em + (1.6 * 20 * 100vw / 360));
    }
}

.signin__features {
    height: 30%;
    width: 100%;
    padding: 0 1em;
    /* background-color: oldlace; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    width: 33%;
    font-size: 1.5em;
    padding: 0.25em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature__icon {
    width: 2em;
    height: 2em;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feature__title {
    margin-top: 0.5em;
    width: 100%;
    line-height: 100%;
    font-size: 0.4em;
    text-align: center;
    text-transform: uppercase;
    /* background-color: red; */
}

@media (min-width: 985px) {
    .signin__features {
        height: 20%;
        flex-direction: row;
    }

    .features-row:first-child {
        width: 150%;
    }

    .feature {
        width: 100%;
    }
}

.signin__sign-in {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-in-button {
    cursor: pointer;
    border-radius: 999px;
    padding: 0.5em 1em;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-button__logo {
    height: 2em;
    aspect-ratio: 1 / 1;
    background: url(images/google.png) center/cover no-repeat;
    margin-right: 0.5em;
}

.signin__disclaimer {
    height: 10%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.70em;
}

@media (min-width: 985px) {
    .signin__disclaimer {
        height: 5%;
    }
}

/* Actual Page Content */

#page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    opacity: 0;
}

.signed-in #page {
    transition: opacity 250ms ease;
    opacity: 1;
}

#filters-tab, #results-tab {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
}

@media (min-width: 985px) {
    #filters-tab, #results-tab {
        position: relative;
        height: 100vh;
    }
    
    #filters-tab {
        width: 40%;
    }
    
    #results-tab {
        width: 60%;
    }
}

/* Filters Tab */

#filters-tab {
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    z-index: 2;
    transition: left 250ms ease;
}

#filters-tab.hidden {
    left: -100%;
}

@media (min-width: 985px) {
    #filters-tab.hidden {
        left: 0;
    }
}

.filters-tab__child {
    width: 100%;
}

.filters-tab__header {
    font-weight: 900;
    /* text-align: center; */
    font-size: 2em;
    padding: 0.25em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters-tab__header > img {
    height: 0.75em;
    filter: invert(1);
    aspect-ratio: 1 / 1;
}

@media (min-width: 985px) {
    .filters-tab__header {
        font-weight: 900;
        text-align: center;
        font-size: 3em;
        padding: 0.5em;
        display: block;
    }
    
    .filters-tab__header > img {
        display: none;
    }
}

/* #filters-tab >  */
#filters-container {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    gap: 10px;
    overflow: auto;
}

#filters-container::-webkit-scrollbar {
    display: none;
}

.filter-section {
    --lightness: 50%;
    --saturation: 75%;
    --hue: 0;
    --filter-accent: hsl(var(--hue), var(--saturation), var(--lightness));
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

[category="year"] {--hue: 150;}
[category="hostel"] {--hue: 30;}
[category="B1"] {--hue: 210;}
[category="B2"] {--hue: 270;}

.filter-section__header {
    font-weight: 700;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-section__header > button {
    all: unset;
    display: block;
    filter: invert(0.5);
    height: .75em;
    aspect-ratio: 1 / 1;
    background: url(images/select-all.png) 0/cover no-repeat;
}

@media (min-width: 985px) {
    .filter-section__header > button {
        cursor: pointer;
    }
}

.filter-toggle-container {
    /* For the gap */
    margin-top: 1em;
}

.filter-toggle {
    user-select: none;
    margin-right: 5px;
    margin-bottom: 5px;
    border: solid var(--filter-accent) 2px;
    font-size: 0.70em;
    border-radius: 0.75em;
    padding: 0.5em;
    padding-bottom: calc(0.5em + 0px);
    display: inline-block;
}

@media (min-width: 985px) {
    .filter-toggle {
        transition: 100ms ease;
        transition-property: color, background-color;
        cursor: pointer;
    }
}

.filter-toggle.selected {
    background-color: var(--filter-accent);
    color: black;
}

/* Binary Toggles */

.binary-toggle-wrapper {
    background-color: rgb(25, 25, 25);
    padding: 10px;
    border-radius: 0.5em;
}

.binary-toggle-container {
    position: relative;
    display: flex;
    align-items: stretch;
    /* overflow: hidden; */
    border-radius: 0.5em;
}

.binary-toggle-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: inherit;
    transition: left 250ms ease;
}

#sorting-toggle::before {
    background-color: hsl(200, 100%, 85%);
}

#fetch-type-toggle::before {
    background-color: rgb(64, 192, 255);
}

.binary-toggle-container.second::before {
    left: 50%;
}

.binary-toggle {
    width: 100%;
    cursor: pointer;
    z-index: 1;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    transition: color 250ms ease;
    -webkit-tap-highlight-color: transparent;
}

.binary-toggle__header, .binary-toggle__image, .binary-toggle__description {
    user-select: none;
    pointer-events: none;
}

:not(.second) > .binary-toggle:first-child {
    color: black;
}

.second > .binary-toggle:last-child {
    color: black;
}

.binary-toggle > header {
    font-weight: 700;
    font-size: 0.5em;
    text-transform: uppercase;

    text-align: center;
}

.binary-toggle > img {
    filter: invert(1);
    height: 2em;
    width: 2em;
}

:not(.second) > .binary-toggle:first-child > img {
    filter: none;
}

.second > .binary-toggle:last-child > img {
    filter: none;
}

.binary-toggle > p {
    margin: 0;
    /* text-transform: uppercase; */
    font-size: 0.5em;
    text-align: center;
}

/* Footer for credits and shit */

#footer {
    font-size: 0.75em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* RESULTS TAB */

#results-tab {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.results-tab__child + .results-tab__child {
    margin-top: 10px;
}

#results-tab > header {
    flex: 0 0 auto;
    font-weight: 900;
    font-size: 2em;
    padding: 0.25em;
    height: calc(2em - 0.25em/2); /*For consistency with filters tab*/
    overflow: hidden;
    /* background-color: antiquewhite; */
    
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 1em;
}

#results-tab > header > img {
    height: 0.75em;
    filter: invert(1);
    aspect-ratio: 1 / 1;
}

#results-tab > header > input {
    font-size: 0.75em;
    font-weight: 900;
    background-color: transparent;
    border: solid white 2px;
    border-radius: 0.25em;
    height: 100%;
    outline: none;
    color: white;
    text-align: center;
    width: 100%;
}

#results-tab > header > input::placeholder {
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

@media (min-width: 985px) {
    #results-tab > header {
        font-weight: 900;
        text-align: center;
        font-size: 3em;
        padding: 0.5em;
        height: calc(3em - 1.25em/2); /*For consistency with filters tab*/
        grid-template-columns: 1fr;
    }
    
    #results-tab > header > img#filter-img {
        display: none;
    }
}

#result-options {
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75em;
}

#result-options > .result-option {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 720px) {
    #result-options > .result-option {
        cursor: pointer;
    }
}

.result-option::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(206, 231, 255);
    mix-blend-mode: multiply;
}

.result-option > img {
    filter: invert(1);
    aspect-ratio: 1 / 1;
    height: 1em;
    margin-right: 0.5em;
}

#results-tab > #results-container {
    height: 100%;
    overflow: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results-container::-webkit-scrollbar {
    border-radius: 999px;
    width: 5px;
    background-color: black;
}

#results-container::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background-color: rgb(128, 128, 128);
}

.student {
    flex: 0 0 auto;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.student + .student {
    margin-top: 5px;
}

.student-child + .student-child {
    margin-left: 5px;
}

.student-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 100%;
}

.student-place {
    color: hsl(30, 100%, 50%);
    font-size: 0.95em;
}

.student-place__hostel {
    text-align: center;
}

.student-place__room {
    text-align: center;
    font-size: 1.25em;
}

.student-year {
    font-size: 0.9em;
    color: hsl(150, 100%, 50%);
}

.student-info {
    width: 100%;
}

.student-info__name {
    font-size: 1.25em;
}

.student-info__branch {
    color: hsl(210, 100%, 75%);
}

.student-info__id {
    font-size: 0.75em;
    color: hsl(180, 100%, 30%);
}

/* Load More Button */

#load-more {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 1em;
    width: 90%;
    margin-top: 0.5em;
    border-radius: inherit;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
}